*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box
}
.header{
    min-height: 100vh;
    width: 100%;
    background:url(images/university.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 60px;
    top: 0px;
}
.nav-links{
    flex: 1;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    display:block;
}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color:black;
    text-decoration: none;
    font-size: 15pxpx;
    font-weight: 300px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:black;
    display: block;
    margin: auto;
    transition:0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;

}
.text-box{
    color:black;
    position:relative;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    bottom:50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
}
.text-box h1{
    font-size: 40px;
    padding-top: 10px ;
}
.hero-btn{
    display:inline-block;
    text-decoration: none;
    color:black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position:relative;
    cursor: pointer;
    border-radius:50px;
    background:black;
    color:white;
    font-weight: 500px;
    margin-bottom:10px;


}
.hero-btn:hover{
    border: 1px white;
    background:white;
    color:black;
    transition:0.7s;
}
nav .fa{
    display: none;
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom:3%;
    height: 90%;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 36px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
p{
    color:black;
    font-size:20px;
    font-weight: 200%;
    line-height: 22px;
    padding:15px;
    font-family: 'Poppins', sans-serif;
}
.row{
    margin-top:5%;
    display:flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background:whitesmoke;
    border-radius: 10px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;

}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
    transform: scale(1.1);

}
.campus{
    text-align:center;
    padding-bottom:50px;
    width: 80%;
    margin: auto;

}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background:rgba(241,0,0, 0.7);
}
.layer h1{
    width: 100%;
    font-weight: 500;
    color:white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;

}
.layer:hover h1{
    bottom: 49%;
    opacity: 1;
}
.facilities{
    text-align:center;
    padding-bottom:50px;
    width: 80%;
    margin: auto;

}
.facilities-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.facilities-col img{
    width: 100%;
    display: block;
}
.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background:rgba(22, 21, 21, 0.7);
}
.layer h1{
    width: 100%;
    font-weight: 500;
    color:white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;

}
.layer:hover h1{
    bottom: 49%;
    opacity: 1;
}
.testimonials{
    width: 80%;
    margin: auto;
    padding-top:100px ;
    text-align: center;
}
.testimonials-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align:left;
    background:whitesmoke;
    padding: 25px;
    cursor: pointer;
    display:flex;
    font-family:'Roboto', sans-serif;
    font-size:10px;
}.testimonials-col img{
    height: 100px;
    width:100px;
    border-radius:25%;
    padding:25px;
}
.testimonials-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.cta{
    margin: 100px auto;
    width: 80%;
    background-image:linear-gradient(rgba(156, 50, 50, 0.2),rgba(92, 90, 90, 0.2)),url(images/contact.jpg);
    background-position:center;
    background: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    background-size: cover;
}
.cta h1{
    color:black;
    margin-bottom: 40px;
    padding: 0;
}
.footer{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    text-align:center;
}
.footer h1{
    text-align: center;
}
.container{
    height:15vh;
    width:100%;
    display: flex;
    align-items:center;
    justify-content:center;
    background: #f2f2fe;
}
.icons a{
    display:inline-flex;
    width: 75px;
    height: 75px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 40px;
    background: white;
    margin:10px;
    box-shadow:0 10px 10px rgba(0,0,0.5,0.5);
    background-size:100% 200%;
    background-position:0% 5%;
    transition: background-position 0.8s ,color 0.7s;
}
.icons a:nth-child(1){
    color:#1976d3;
    background-image:linear-gradient(#fff 50%,#1976d3 50%);
}
.icons a:nth-child(2){
    color:#DD2A7B;
    background-image:linear-gradient(#fff 50%,#DD2A7B 50%);
}
.icons a:nth-child(3){
    color:#0a66c2;
    background-image:linear-gradient(#fff 50%,#0a66c2 50%);
}
.icons a:nth-child(4){
    color:#1da1f2;
    background-image:linear-gradient(#fff 50%,#1da1f2 50%);
}
.icons a:nth-child(5){
    color:#ff0000;
    background-image:linear-gradient(#fff 50%,red 50%);
}

.icons a:hover{
    background-position: 0% 100%;
    color:white;
}
